name: Linters

on:
  push:
    branches:
      - main
      - feature/*
  pull_request:
    branches:
      - main

jobs:
  ruff:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: chartboost/ruff-action@v1

  mypy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: jpetrucciani/mypy-check@master
        with:
          path: './telegram_wallet_pay'
          mypy_flags: '--config-file pyproject.toml'
          requirements: pydantic
